<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon
        [attr.name]="selectedTab === 'home' ? 'home' : 'home-outline'"
        size="large"
      ></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="shop">
      <ion-icon
        [attr.name]="selectedTab === 'shop' ? 'cart' : 'cart-outline'"
        size="large"
      ></ion-icon>
      Shop
    </ion-tab-button>
    <ion-tab-button tab="bag">
      <ion-icon
        [attr.name]="selectedTab === 'bag' ? 'bag-handle' : 'bag-handle-outline'"
        size="large"
      ></ion-icon>
      Bag
    </ion-tab-button>
    <ion-tab-button tab="fav">
      <ion-icon
        [attr.name]="selectedTab === 'fav' ? 'heart' : 'heart-outline'"
        size="large"
      ></ion-icon>
      Favorites
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon
        [attr.name]="selectedTab === 'profile' ? 'person' : 'person-outline'"
        size="large"
      ></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
